/********************************************************
 * 		Pasquino Framework - CSS Default				*
 *														*
 * 		Template default del framework					*
 *														*
 * 		AUTHOR: AsiVas (http://www.asivas.com.ar)		*
 *														*
 ********************************************************/





/*
 * RESET
 *
 * Estilos para normalizar elementos. Usado para mejorar la compatibilidad.
 *
 */

html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
input, select, textarea {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
ul,li {list-style: none;}
input,textarea {border: 1px solid #999999;}
a {text-decoration: none; color: #F6B002;}
a:hover {text-decoration:underline;}

/*********************************** FIN RESET **************************************/




/*
 * GENERAL
 *
 * Estilos generales del sistema
 *
 */

body {
	font-family: Verdana, sans-serif;
	font-size: 13px;
	background: url(../img/bg-default.png)  #3c3c3c;
}

.clr {clear: both}

#container {
	padding: 0;
	border-top: 1px solid #555;
}
	
	#container section#main-section {
		background: #EFEEEF;
	}
	
/* Trampa a Boostrap, revisar si se cambia la proporcion */
@media (min-width: 1200px) {
	#container section#main-section {
		width: 76.92307692% !important;
		margin: 0 !important;
	}
}

/*********************************** FIN GENERAL **************************************/




/*
 * HEADER & FOOTER
 *
 * Estilos para header y footer
 *
 */
 
body > header {
	margin: 0;
	height: 60px;
	background: url(../img/grad-overlay.png) #0e0e0f 0 -1px repeat-x;
	border-top: 1px solid #515151;
	border-bottom: 1px solid #222;
}

	body > header #logo {
		display: block;
		float: left;
		margin-top: 1px;
	}
	

body > footer {
	height: 35px;
	border-top: 1px solid #444444;
	background: url(../img/grad-overlay.png) #0e0e0f 0 -40px repeat-x;
}

	body > footer p {
		padding: 8px 0 0 5px;
		color: #aaaaa;
	}

/*********************************** FIN HEADER & FOOTER **************************************/




/*
 * MAIN SECTION
 *
 * Estilos para el contenido principal del sistema
 *
 */
 
.page-header {
	padding-left:15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding: 15px;
	margin: 0 0 10px 0;
	background: url(../img/grad-overlay.png) #ddd 0 -1px repeat-x;
	border-bottom: 1px solid #aaa;
}

.page {
	padding: 15px;
}

/*********************************** FIN MAIN SECTION **************************************/




/*
 * LOGIN
 *
 * Estilos para el formulario de login
 *
 */

body#body-login {
	background: #EFEEEF;
}

	body#body-login > #container > #form-login {
		width: 380px;
		margin: 150px auto 0;
	}
	
	body#body-login > #container > #form-login .form_element {
		width: 84%;
		padding: 15px 8%;
		margin: 0 !important;
	}
	
		body#body-login > #container > #form-login .form_element input {
			float: none;
			height: 30px;
			line-height: 18	px;
			font-size: 16px !important;
			font-weight: bold;
			padding: 4px 0 2px 8px;
			margin: 0 !important; /*FIXME: no se puede centrar con margin: 0 auto */
			width: 292px;
		}
		body#body-login > #container > #form-login .form_element .add-on {
			padding: 6px 5px 2px;
		}

/*********************************** FIN LOGIN **************************************/




/*
 * NAVEGACION
 *
 * Estilos para elementos del menu de navegación (sidebar)
 *
 */

nav#sidebar {
	
}

	nav#sidebar > ul {
	}
		
		nav#sidebar > ul > li {
			line-height: 20px;
		
		}
		
		nav#sidebar > ul > li.active {
			border-right: 4px solid #d12610;
		}
		
		nav#sidebar > ul > li a {
			border-top: 1px solid #424242;
			border-bottom: 1px solid #282828;
			display: block;
			color: #d1d0d0 !important;
			text-shadow: 0 1px 1px #333 !important;
			padding: 13px 15px;
			font-size: 14px;
			text-decoration: none;
		}
		
		nav#sidebar > ul > li a:HOVER {
			text-decoration: none;
			color: #fff !important;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
			background: #1e1f21;
			background: -webkit-linear-gradient(bottom, #1e1f21, #232527);
			background: -ms-linear-gradient(bottom, #1e1f21, #232527); 
			background: -moz-linear-gradient(bottom, #1e1f21, #232527);
			background: -o-linear-gradient(bottom, #1e1f21, #232527);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1e1f21', endColorstr='#ff232527', GradientType=0);
			border-top: 1px solid #303234;
			border-bottom: 1px solid #161718;
		}
		
			nav#sidebar > ul > li > a > span.arrow {
				float: right;
				margin-top: 6px;
				margin-right: 5px;
				width: 0;
				height: 0;
				border-right: 5px solid #f3f3f3;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
			}
			
			#sidebar > ul > li.open > a > span.arrow {
				margin-top: 10px;
				margin-right: 3px;
				border-top: 5px solid #f3f3f3;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
			}
			
			#sidebar > ul > li > a > i {
				opacity: 0.7;
				margin-right: 3px;
			}
			
			nav#sidebar > ul > li > a:HOVER > i {
				opacity: 1;
			}
	
				
		nav#sidebar > ul > li:FIRST-CHILD a {
			border-top: none;
		}
		
		nav#sidebar > ul > li > ul {
			padding: 8px 20px;			
		}
		
		nav#sidebar > ul > li > ul > li > a {
			color: #ccc;
			text-shadow: 0 1px 1px #000;
			padding: 8px 15px;
			font-size: 12px;
			border: none;
		}
		
		nav#sidebar > ul > li > ul > li.active > a, nav#sidebar > ul > li > ul > li > a:hover {
		  	color: #fff !important;
		 	background: #534f4e !important;  
			border: none;
		}

/*********************************** FIN NAVEGACION **************************************/




/*
 * FORMULARIOS
 *
 * Estilos para elementos de formulario
 *
 */
 
form.base-form {
	background: #f7f7f7;
}

form.base-form .elementos {
	clear: both;
	float: left;
}

form.base-form .botonera {
	padding: 15px;
	border-top: 1px solid #ccc;
	background: #eeeeee;
	text-align: right;
}

form.base-form .form_element {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	padding: 7px 0;
	clear: left;
	float: left;
	width: 600px;
}

form.base-form .form_element:last-child {
	border-bottom: 0;
}

	form.base-form .form_element label {
		width: 150px;
		margin-left: 15px;
		padding-top: 3px;
		float:left;
		text-align: left;
		font-size: 12px;
	}
	
		form.base-form .form_element input,
		form.base-form .form_element select,
		form.base-form .form_element textarea {
			float: right;
			width: 350px;
			margin-right: 15px;
			line-height: normal;
			
			-webkit-transition: border linear .2s, box-shadow linear .2s;
			-moz-transition: border linear .2s, box-shadow linear .2s;
			-o-transition: border linear .2s, box-shadow linear .2s;
			transition: border linear .2s, box-shadow linear .2s;
		}
		
		form.base-form .form_element input:focus,
		form.base-form .form_element select:focus, 
		form.base-form .form_element textarea:focus { 
			border-color: rgba(82, 168, 236, 0.8);
		  	outline: 0;
		  	outline: thin dotted \9;
		  	/* IE6-9 */
		  	
		  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
		 	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
		  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
		}
		

/* elementos genericos */
input[type="text"], 
input[type="file"], 
input[type="password"],
select, 
textarea {
	padding: 3px;
	border: 1px solid #d3d3d3;
	border-radius: 2px; 
	margin-bottom: 0;
	height: 24px;
	font-family: Arial, sans-serif;
	font-style: normal;
	color: #666666;
	font-size: 12px !important;
}

/*********************************** FIN FORMULARIOS **************************************/




/*
 * LISTAS
 *
 * Estilos para listas de los modulos
 *
 */

section .lista {
	background: #f7f7f7;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	
	/* TODO: Revisar si es necesario estas lineas */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	
	display: table;
}


/* HEADER */
section .lista > header {
	border-bottom: 1px solid rgb(168, 168, 168);
	box-shadow: 0 1px 0 #fff;
	width: 100%;
	height: 40px;
	
	background: url(../img/grad-overlay.png) #ddd 0 -1px repeat-x;
	background: linear-gradient(top, #ededed 0%,#c4c4c4 100%);
	background: -moz-linear-gradient(top, #ededed 0%, #c4c4c4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c4c4c4));
	background: -webkit-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
	background: -o-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
	background: -ms-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
}

section .lista > header h6 {
	float: left;
	text-shadow: 0 1px #fff;
	color: #636363;
	padding: 0 14px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
}

section .lista > header .tools {
	float: right;
}

	section .lista > header .tools li {
		float: left;
		padding: 0 15px;
		border-left: 1px solid #bcbcbc;
		height: 40px;
	}

	section .lista > header .tools .filtro  {
		margin-top: 8px;
	}
	
	section .lista > header .tools #botonAlta{
		margin-top: 10px;
	}

/* GRID */
section .grid {
	width: 100%;
}

	section .grid ul {
		clear:both;
		display: table;
		width: 100%;
	}

		section .grid ul li {
			float:left;
		}
		
			section .grid ul li .data {
				padding: 6px 15px 5px;
			}

	section .grid header {
		
	}
	
		section .grid header ul {
			border-bottom: 1px solid #DFDFDF;
		}
			section .grid header ul li .data {
				text-align: center;
				font-size: 11px;
				color: #909090;
				background: #eee;
				border-left: 1px solid #DFDFDF;
				box-shadow: 0 1px 0 #fafafa inset;
			}
			
			section .grid header ul li:FIRST-CHILD .data {
				border: none;
			}
		
	section .grid article {
		
	}
	
	section .grid article:NTH-CHILD(even) {
		background: #F2F2F2;
	}
	
	section .grid article:HOVER {
		background: #E9E9E9;
	}
		section .grid article ul {
			border-bottom: 1px solid #DFDFDF;
		}
		section .grid article:LAST-CHILD ul {
			border: 0;
		}
			section .grid article ul li .data {
				border-left: 1px solid #DFDFDF;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			
			section .grid article ul li:FIRST-CHILD .data {
				border: none;
			}

	section .grid article li.gridAccionesItem .button {
		float:right;
		margin-left: 5px !important;
	}
	
	section .grid article li .lista-acciones {
		margin: 0 auto;
		display: table;
	}
	
	section .grid article .info {
		padding: 15px 0;
		text-align: center;
	}

/*********************************** FIN LISTAS **************************************/