/********************************************************
 * 		Pasquino Framework - CSS Default				*
 *														*
 * 		Template default del framework					*
 *														*
 * 		AUTHOR: AsiVas (http://www.asivas.com.ar)		*
 *														*
 ********************************************************/





/*
 * RESET
 *
 * Estilos para normalizar elementos. Usado para mejorar la compatibilidad.
 *
 */

html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
input, select, textarea {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
menu,nav ul, nav ul li {list-style: none;}
input,textarea {border: 1px solid #999999;}
a {text-decoration: none; color: #F6B002;}
a:hover {text-decoration:underline;}

/*********************************** FIN RESET **************************************/




/*
 * GENERAL
 *
 * Estilos generales del sistema
 *
 */

body {
	font-family: Verdana, sans-serif;
	font-size: 13px;
	background: url(../img/bg-default.png) #3c3c3c;
}

.clr {clear: both}

#container {
	padding: 0;
	border-top: 1px solid #555;
}
	
	#container section#main-section {
		background: #EFEEEF;
		padding: 0;
	}
	
/* Trampa a Boostrap, revisar si se cambia la proporcion */
@media (max-width: 1200px) and (min-width: 768px) {
	#container section#main-section.span9 {
		width: 76.59574468085107% !important;
		margin: 0 !important;
	}
}
@media (min-width: 1200px) {
	#container section#main-section.span9 {
		width: 76.92307692% !important;
		margin: 0 !important;
	}
}

#container section#main-section.span12 {
	margin-left: 0;
}

/*********************************** FIN GENERAL **************************************/




/*
 * HEADER & FOOTER
 *
 * Estilos para header y footer
 *
 */
 
body > header {
	margin: 0;
	height: 60px;
	background: url(../img/grad-overlay.png) #0e0e0f 0 -1px repeat-x;
	border-top: 1px solid #515151;
	border-bottom: 1px solid #222;
}

	body > header #logo {
		display: block;
		float: left;
		margin-top: 1px;
	}
	
	#logo img {
		/*width: 225px;*/
		height:60px;
	}
	
		
#user-tools {
	margin-top: 21px;
}

#user-tools a.dropdown-toggle  {
	color: #d1d0d0;
}

#user-tools a.dropdown-toggle i {
	margin-left: 5px;
}

#user-tools a.dropdown-menu  {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
}

body > footer {
	height: 35px;
	border-top: 1px solid #444444;
	background: url(../img/grad-overlay.png) #0e0e0f 0 -40px repeat-x;
}

	body > footer > #copyright {
		padding: 10px 0 0 5px;
		font-weight: bold;
		color: #000000;
		text-shadow: 0 1px 0px rgb(109, 96, 96);
	}

/*********************************** FIN HEADER & FOOTER **************************************/




/*
 * MAIN SECTION
 *
 * Estilos para el contenido principal del sistema
 *
 */
 
.page-header {
	padding-left:15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding: 15px;
	margin: 0 0 10px 0;
	background: url(../img/grad-overlay.png) #ddd 0 -1px repeat-x;
	border-bottom: 1px solid #aaaaaa;
}

.page {
	padding: 15px;
	float: left;
	width: 100%;
}

/*********************************** FIN MAIN SECTION **************************************/




/*
 * LOGIN
 *
 * Estilos para el formulario de login
 *
 */

body#body-login {
	background: #EFEEEF;
}


	body#body-login > #container > #error-login {
		width: 400px;
		position:absolute;
        left:0;
        right:0;
		top: 170px;
		margin: 0 auto;
		text-align: center;
	}
	
	body#body-login > #container > #form-login {
		width: 380px;
		position:absolute;
        left:0;
        right:0;
		top: 230px;
		margin: 0 auto;
	}
	
	body#body-login > #container > #form-login .form_element {
		width: 84%;
		padding: 15px 8%;
		margin: 0 !important;
	}
	
		body#body-login > #container > #form-login .form_element input {
			float: none;
			height: 30px;
			line-height: 18	px;
			font-size: 16px !important;
			font-weight: bold;
			padding: 4px 0 2px 8px;
			margin: 0 !important; /*FIXME: no se puede centrar con margin: 0 auto */
			width: 292px;
		}
		body#body-login > #container > #form-login .form_element .add-on {
			padding: 6px 5px 2px;
		}

/*********************************** FIN LOGIN **************************************/




/*
 * NAVEGACION
 *
 * Estilos para elementos del menu de navegación (sidebar)
 *
 */

nav#sidebar {
	padding: 0;
}

	nav#sidebar > ul,
	nav#sidebar > menu {
		margin-left: 0;
		padding-left: 0;
	}
		
		nav#sidebar > ul > li,
		nav#sidebar > menu > li {
			line-height: 20px;
		
		}
		
		nav#sidebar > ul > li.active,
		nav#sidebar > menu > li.active {
			border-right: 4px solid #d12610;
		}
		
		nav#sidebar > ul > li a,
		nav#sidebar > menu > li a {
			border-top: 1px solid #424242;
			border-bottom: 1px solid #282828;
			display: block;
			color: #d1d0d0 !important;
			text-shadow: 0 1px 1px #333 !important;
			padding: 13px 15px;
			font-size: 14px;
			text-decoration: none;
		}
		
		nav#sidebar > ul > li > a:HOVER,
		nav#sidebar > ul > li.active > a,
		nav#sidebar > menu > li > a:HOVER,
		nav#sidebar > menu > li.active > a {
			text-decoration: none;
			color: #fff !important;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
			background: #1e1f21;
			background: -webkit-linear-gradient(bottom, #1e1f21, #232527);
			background: -ms-linear-gradient(bottom, #1e1f21, #232527); 
			background: -moz-linear-gradient(bottom, #1e1f21, #232527);
			background: -o-linear-gradient(bottom, #1e1f21, #232527);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1e1f21', endColorstr='#ff232527', GradientType=0);
			border-top: 1px solid #303234;
			border-bottom: 1px solid #161718;
		}
		
			nav#sidebar > ul > li > a > span.arrow,
			nav#sidebar > menu > li > a > span.arrow {
				float: right;
				margin-top: 6px;
				margin-right: 5px;
				width: 0;
				height: 0;
				border-right: 5px solid #f3f3f3;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
			}
			
			#sidebar > menu > li.open > a > span.arrow,
			#sidebar > ul > li.open > a > span.arrow {
				margin-top: 10px;
				margin-right: 3px;
				border-top: 5px solid #f3f3f3;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
			}
			
			#sidebar > menu > li a i,
			#sidebar > ul > li a i {
				opacity: 0.7;
				margin-right: 3px;
				background-image: url("/bootstrap/img/glyphicons-halflings-white.png");
			}
			
			nav#sidebar ul > li > a:HOVER > i,
			nav#sidebar ul > li.active > a > i,
			nav#sidebar menu > li > a:HOVER > i,
			nav#sidebar menu > li.active > a > i {
				opacity: 1;
			}
	
				
		nav#sidebar > ul > li:FIRST-CHILD a,
		nav#sidebar > menu > li:FIRST-CHILD a {
			border-top: none !important;
		}
		
		nav#sidebar > ul > li > ul,
		nav#sidebar > menu > li > menu {
			padding: 8px 20px;
			display: none;
			margin-left: 0;
		}
		
		nav#sidebar > ul > li.active > ul,
		nav#sidebar > menu > li.active > menu {
			display: block;	
		}
		
		nav#sidebar > ul > li > ul > li > a,
		nav#sidebar > menu > li > menu > li > a {
			color: #ccc;
			text-shadow: 0 1px 1px #000;
			padding: 8px 15px;
			font-size: 12px;
			border: none;
		}
		
		nav#sidebar > ul > li > ul > li.active > a,
		nav#sidebar > ul > li > ul > li > a:hover,
		nav#sidebar > menu > li > menu > li.active > a,
		nav#sidebar > menu > li > menu > li > a:hover {
		  	color: #fff !important;
		 	background: #534f4e !important;  
			border: none;
		}

/*********************************** FIN NAVEGACION **************************************/




/*
 * FORMULARIOS
 *
 * Estilos para elementos de formulario
 *
 */
 
 .dialog-load{
 	text-align: center;
 	padding: 20px 0;
 	font-weight: bold;
 	min-width: 600px;
 }
 
.base-form {
	background: #f7f7f7;
}

.base-form .elementos {
	clear: both;
	float: left;
}

.base-form .botonera {
	padding: 15px;
	border-top: 1px solid #ccc;
	background: #E9E9E9;
	text-align: right;
}

.base-form .form_element {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	padding: 7px 0;
	clear: left;
	float: left;
	width: 600px;
}

.base-form .form_element:last-child {
	border-bottom: 0;
}

	.base-form .form_element label {
		width: 150px;
		margin-left: 15px;
		padding-top: 3px;
		float:left;
		text-align: left;
		font-size: 12px;
	}
	
		.base-form .form_element input,
		.base-form .form_element select,
		.base-form .form_element textarea {
			float: right;
			width: 350px;
			margin-right: 15px;
			line-height: normal;
			
			-webkit-transition: border linear .2s, box-shadow linear .2s;
			-moz-transition: border linear .2s, box-shadow linear .2s;
			-o-transition: border linear .2s, box-shadow linear .2s;
			transition: border linear .2s, box-shadow linear .2s;
		}
		
		.base-form .form_element input[type="checkbox"],
		.base-form .form_element input[type="radio"] {
			width: auto;
			float: left;
			margin-right: 3px;
			margin-top: 6px;
			
		}
		
		.base-form .form_element input[type="checkbox"] + label,
		.base-form .form_element input[type="radio"] + label {
			width: auto;
			float: left;
			margin-left: 0;
			margin-right: 10px;
			margin-bottom: 1px;
		} 
		
		.base-form .form_element input:focus,
		.base-form .form_element select:focus, 
		.base-form .form_element textarea:focus { 
			border-color: rgba(82, 168, 236, 0.8);
		  	outline: 0;
		  	outline: thin dotted \9;
		  	/* IE6-9 */
		  	
		  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
		 	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
		  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
		}
		
		.base-form .form_element span.frozen {
			float: left;;
			width: 350px;
			margin-right: 15px;
			margin-top: 2px;
			padding-right: 3px;
			font-weight: bold;
		}

/* elementos genericos */
input[type="text"], 
input[type="file"], 
input[type="password"],
select, 
textarea {
	padding: 3px;
	border: 1px solid #d3d3d3;
	border-radius: 2px; 
	margin-bottom: 0;
	height: 24px;
	font-family: Arial, sans-serif;
	font-style: normal;
	color: #666666;
	font-size: 12px !important;
}
input.loading {
    background: white url('../img/ajax-loader.gif') right 5px center no-repeat;
}

input[type="file"] {height: 29px;}

/*********************************** FIN FORMULARIOS **************************************/




/*
 * LISTAS
 *
 * Estilos para listas de los modulos
 *
 */

section .lista {
	background: #f7f7f7;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	
	/* TODO: Revisar si es necesario estas lineas */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	
	display: table;
	padding: 0;
}


/* HEADER */
section .lista > header {
	border-bottom: 1px solid rgb(168, 168, 168);
	box-shadow: 0 1px 0 #fff;
	width: 100%;
	height: 40px;
	
	background: url(../img/grad-overlay.png) #ddd 0 -1px repeat-x;
	background: linear-gradient(top, #ededed 0%,#c4c4c4 100%);
	background: -moz-linear-gradient(top, #ededed 0%, #c4c4c4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c4c4c4));
	background: -webkit-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
	background: -o-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
	background: -ms-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
}

section .lista > header h6 {
	float: left;
	text-shadow: 0 1px #fff;
	color: #636363;
	padding: 0 14px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
}

section .lista > header .tools {
	float: right;
	margin: 0;
}

	section .lista > header .tools li {
		float: left;
		list-style: none;
		margin:0;
		padding: 0;
		border-left: 1px solid #bcbcbc;
		height: 40px;
	}

	section .lista > header .tools .filtro  {
		margin-top: 8px;
		padding: 0 15px;
	}


section .lista > footer {
	height: 38px;
	border-top: 1px solid #ddd;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	background: #F8F8F8;
	background: -moz-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8F8F8), color-stop(100%, #EFEFEF));
	background: -webkit-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
	background: -o-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
	background: -ms-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
	background: linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
}

	section .lista > footer .pagination-info {
		margin: 12px 10px 0;
		color: #666666;
		text-shadow: 0 1px 0 #fff;
		font-size: 10px;
		font-weight: 400;
	}

	section .lista > footer .pagination {
		margin: 7px 7px 3px !important;	
	}

/* 	BOTON ALTA */
/* TODO: Mejorar esta parte para permitir multiples botones en el toolbar */


ul.tools > li.button div {
	border: 0 !important;
	background: none !important;
	box-shadow: none !important;
	margin: 0 !important;
	width: 40px;
	height: 40px;
}

	ul.tools > li.button div > a {
		height: 40px;
		width: 40px;
		float: left;
	}
	
		
	ul.tools > li.button div > a:HOVER {
		background: url(../img/grad-overlay.png) #ddd 0 -1px repeat-x;
		background: linear-gradient(top, #ececec 0%,#aaaaaa 100%);
		background: -moz-linear-gradient(top, #ececec 0%, #aaaaaa 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#aaaaaa));
		background: -webkit-linear-gradient(top, #ececec 0%,#aaaaaa 100%);
		background: -o-linear-gradient(top, #ececec 0%,#aaaaaa 100%);
		background: -ms-linear-gradient(top, #ececec 0%,#aaaaaa 100%);
	}
	
	ul.tools > li.button div > a > span.ui-icon {
		width: 23px !important;
		height: 23px !important;
		background-image: url("/sistemafce/img/icons_toolbar.png");
		background-repeat: no-repeat;
		margin: 9px 0 0 9px !important;
	}
		
	/* boton alta */
	#botonAlta > a > span {	background-position: 0px 0px;}
	#botonAlta > a:HOVER > span {background-position: 0px -24px;}

/* GRID */
section .grid {
	width: 100%;
}
	
	section .grid ul {
		clear: both;
		display: table-row;
		width: 100%;
	}

		section .grid ul li {
			display: table-cell;
			border-left: 1px solid #DFDFDF;
			vertical-align: middle;
			word-break: break-word;
		}
		
		section .grid header ul li:FIRST-CHILD {
			border: none;
		}
		
			section .grid ul li .data {
				padding: 6px 15px 5px;
			}


	section .grid header {
		display: table;
		width: 100%;
		border-bottom: 1px solid #DFDFDF;
		background: #eee;
		box-shadow: 0 1px 0 #fafafa inset;
	}
	
		section .grid header ul {
			
		}
			section .grid header ul li {
				vertical-align: middle;
			}
		
			
				section .grid header ul li .data {
					text-align: center;
					font-size: 11px;
					color: #909090;
				}
		
			
	section .grid article {
		display: table;
		width: 100%;
		border-bottom: 1px solid #DFDFDF;
	}
	
	section .grid article:NTH-CHILD(even) {
		background: #F2F2F2;
	}
	
	section .grid article:HOVER {
		background: #E9E9E9;
	}
		section .grid article ul {
			
		}
		section .grid article:LAST-CHILD {
			border: 0;
		}
			section .grid article ul li .data {
				padding-top: 10px;
				padding-bottom: 10px;
			}
			
			section .grid article ul li:FIRST-CHILD {
				border: none;
			}
			
	section .grid article li.gridAccionesItem {
		vertical-align: middle;
	}
	
	section .grid article li .lista-acciones {
		margin: 0 auto;
		display: table;
	}
	
	section .grid article li .lista-acciones .button {
		float: right;
		margin-left: 5px !important;
		display: inline-block;
		
	}
	
	section .grid article li .lista-acciones .button a {float: left;}
	

	section .grid article .info {
		padding: 15px 0;
		text-align: center;
	}


/* LISTA SMALL */

section .lista.small-lista .grid ul li .data {
	padding: 3px 5px;
	line-height: 16px;
	font-size: 11px;
}


/*********************************** FIN LISTAS **************************************/



/*
 * PAGINACION
 *
 * Estilos para reemplazar la paginacion de Bootstrap
 *
 */

.pagination ul {margin-top: 2px;}

.pagination ul>li {
	list-style: none;
	float: left;
	text-align: center;
	margin: 0 3px;
}

.pagination ul>li>a,
.pagination ul>li>span,
.pagination menu>li>a,
.pagination menu>li>span {
	font-size: 10px;
	padding: 2px 4px;
	border: 1px solid #dadada;
	color: #999999;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #E9E9E9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#E9E9E9));
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#E9E9E9 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%,#E9E9E9 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%,#E9E9E9 100%);
	background: linear-gradient(top, #f9f9f9 0%,#E9E9E9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#E9E9E9',GradientType=0 );
}

.pagination ul>li>a:HOVER,
.pagination ul>li>span:HOVER,
.pagination ul>li.active>a,
.pagination ul>li.active>span,
.pagination menu>li>a:HOVER,
.pagination menu>li>span:HOVER,
.pagination menu>li.active>a,
.pagination menu>li.active>span {
	background: #dadada;
	color: #666666;
}

.pagination ul>li.disabled>a,
.pagination ul>li.disabled>span,
.pagination ul>li.disabled>a:HOVER,
.pagination ul>li.disabled>span:HOVER,
.pagination menu>li.disabled>a,
.pagination menu>li.disabled>span,
.pagination menu>li.disabled>a:HOVER,
.pagination menu>li.disabled>span:HOVER {
	opacity: 0.5;
	color: #999999;
	background: inherit !important;
}
/*********************************** FIN PAGINACION **************************************/



/*
 * ICONOS
 *
 * Estilos para iconografia del sistema
 *
 */
 
 *[class^="icon-toolbar"] {
		background-image: url("../img/icons_toolbar.png");
		background-repeat: no-repeat;
		height: 24px; 
		width: 24px;
		display: inline-block;
}
.icon-toolbar-add {background-position: 0px 0px;}
.icon-toolbar-add:HOVER {background-position: 0px -24px;}
.icon-toolbar-cancel {background-position: -24px 0px}
.icon-toolbar-cancel:HOVER {background-position: -24px -24px}
.icon-toolbar-edit {background-position: -48px 0px}
.icon-toolbar-edit:HOVER {background-position: -48px -24px}
.icon-toolbar-save {background-position: -72px 0px}
.icon-toolbar-save:HOVER {background-position: -72px -24px}
.icon-toolbar-print {background-position: -96px 0px}
.icon-toolbar-print:HOVER {background-position: -96px -24px}

 